<% content_for :content do %>
    <div class="container">
        <h1>Sobre</h1>
        <p>Um sistema de salas de transmissão de vídeo onde os usuários podem criar uma sala para a transmissão de um vídeo (não necessariamente uma transmissão ao vivo) e outros podem entrar na sala para assistir à esse vídeo.</p>
    </div>
<% end %>