<div class="jumbotron">
    <div class="container">
        <h1></h1>
        <p></p>
        <br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Infromações adicionais de rodapé 1</h3>
            <p>
                Lorem 
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Informações adicionais de rodapé 2</h3>
            <p>
                Lorem 
            </p>
        </div>
    </div>
</div>