<div class="container">
    <div class="jumbotron">
        <h1>Salas</h1>
        
        <div class="square">
            <div class="block">
                <div class="centered">
                    <div class="sala">
                        <%= link_to new_sala_path do %>
                            <i class="bi bi-plus-lg plus-button"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <% @salas.each do |sala| %>
            <div class="square">
                <div class="block">
                    <div class="centered">
                        <div class="lista-salas">
                            <%= link_to sala.title, sala %>        
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>